/vendor
/node_modules
/.env
/.vscode
/.idea
/.phpunit.result.cache
/.buildkite
/.DS_Store
/public/storage
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/logs
/tests/_output
/tests/_support/_generated
/.history
/.grunt 
/.sass-cache
/.cache